{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" language="javascript" src="/static/script.js"></script>
<script type="text/javascript">
    google.load('visualization', '1', {'packages':['corechart', 'annotatedtimeline']});
    google.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawTotalValueCharts();
        drawAverageValueCharts();
        drawNumberOfSalesCharts();
        drawProductsPerSaleCharts();
        drawRatioSaleCharts();
    }

    function drawEvolutionChart(dt, element_id) {
        var elm = document.getElementById(element_id);
        var w = elm.width;
        var h = elm.height;
        var chart = new google.visualization.AnnotatedTimeLine(elm);
        chart.draw(dt, {width: w, height: h, displayRangeSelector: false});
    }

</script>
{% endblock %}
{% block title %}Total's Daily Report{% endblock %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a> /{{ block.super }}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../../../">
{% trans "Reports" %}</a> &rsaquo; <a href="../../">
{% trans "Sales" %}</a> &rsaquo;
<a href="../">
{% trans "Total" %}</a> &rsaquo;
{% trans "Daily" %}
</div>{% endblock %}

{% block content %}

<h1>Total's Daily Report</h1>

<div id="total-daily-form">
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Update" />
</form>
</div>

{% if form.is_valid %}
<div id="total-daily-charts">

<h2>Total Value</h2>
<div class="chart-group">
<div id="total-daily-evolution-total-value" class="chart-timeline"></div>
</div>
<script type="text/javascript">
function drawTotalValueCharts() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "Date");
    dt.addColumn("number", "Total");

    {% for d, s in days %}
    dt.addRow([new Date{{ d }}, {{ s.value|safe }}]);{% endfor %}

    drawEvolutionChart(dt, "total-daily-evolution-total-value");
}
</script>

<h2>Average Value</h2>
<div class="chart-group">
<div id="total-daily-evolution-average-value" class="chart-timeline"></div>
</div>
<script type="text/javascript">
function drawAverageValueCharts() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "Date");
    dt.addColumn("number", "Average");

    {% for d, s in days %}
    dt.addRow([new Date{{ d }}, {% if s.sales > 0 %}{{ s.value|safe }}/{{ s.sales|safe }}{% else %}0{% endif %}]);{% endfor %}

    drawEvolutionChart(dt, "total-daily-evolution-average-value");
}
</script>

<h2>Number of Sales</h2>
<div class="chart-group">
<div id="total-daily-evolution-number-sales" class="chart-timeline"></div>
</div>
<script type="text/javascript">
function drawNumberOfSalesCharts() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "Date");
    dt.addColumn("number", "Sales");

    {% for d, s in days %}
    dt.addRow([new Date{{ d }}, {{ s.sales|safe }}]);{% endfor %}

    drawEvolutionChart(dt, "total-daily-evolution-number-sales");
}
</script>

<h2>Products per Sale</h2>
<div class="chart-group">
<div id="total-daily-evolution-products-sale" class="chart-timeline"></div>
</div>
<script type="text/javascript">
function drawProductsPerSaleCharts() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "Date");

    dt.addColumn("number", "Products/Sale");

    {% for d, s in days %}
    dt.addRow([new Date{{ d }}, {% if s.sales > 0 %}{{ s.products|safe }}/{{ s.sales|safe }}{% else %}0{% endif %}]);{% endfor %}

    drawEvolutionChart(dt, "total-daily-evolution-products-sale");
}
</script>

<h2>Sale <abbr title="Sales / (Non-Sales + Sales)">Ratio</abbr></h2>
<div class="chart-group">
<div id="total-daily-evolution-ratio-sale" class="chart-timeline"></div>
</div>
<script type="text/javascript">
function drawRatioSaleCharts() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "Date");
    dt.addColumn("number", "Sale Ratio");

    {% for d, s in days %}
    dt.addRow([new Date{{ d }}, {% if s.operations > 0 %}100 * {{ s.sales|safe }}/{{ s.operations|safe }}{% else %}0{% endif %}]);{% endfor %}

    drawEvolutionChart(dt, "total-daily-evolution-ratio-sale");
}
</script>

</div>
{% endif %}

{% endblock %}
