{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n adminmedia %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/widgets.css"/>
{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
<script type="text/javascript" language="javascript" src="/static/script.js"></script>
{% if form.is_valid %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {'packages':['corechart', 'annotatedtimeline']});
    google.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawTotalValueCharts();
        drawAverageValueCharts();
        drawAverageOperationsValueCharts();
        drawNumberOfSalesCharts();
        drawProductsPerSaleCharts();
        drawProductsPerSaleNonSaleCharts();
        drawRatioSaleCharts();
    }

    function drawEvolutionChart(dt, element_id) {
        var elm = document.getElementById(element_id);
        var w = elm.width;
        var h = elm.height;
        var chart = new google.visualization.AnnotatedTimeLine(elm);
        chart.draw(dt, {width: w, height: h, displayRangeSelector: false, displayExactValues: true});
    }

    function drawPieChart(dt, element_id) {
        var elm = document.getElementById(element_id);
        var w = elm.width;
        var h = elm.height;
        var chart = new google.visualization.PieChart(elm);
        chart.draw(dt, {width: w, height: h, is3D: true});
    }

    function drawAggregateChart(dt, element_id) {
        var elm = document.getElementById(element_id);
        var w = elm.width;
        var h = elm.height;
        var chart = new google.visualization.BarChart(elm);
        chart.draw(dt, {width: w, height: h});
    }

</script>
{% endif %}
{% endblock %}
{% block title %}{% trans "Seller's Daily Report" %}{% endblock %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a> /{{ block.super }}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../../../">
{% trans "Reports" %}</a> &rsaquo; <a href="../../">
{% trans "Sales" %}</a> &rsaquo;
<a href="../">
{% trans "Sellers" %}</a> &rsaquo;
{% trans "Daily" %}
</div>{% endblock %}

{% block content %}

<h1>{% trans "Seller's Daily Report" %}</h1>

<div id="sellers-daily-form">
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="{% trans 'Update' %}" />
</form>
</div>

{% if form.is_valid %}
<div id="sellers-daily-charts">

<h2>{% trans "Total Value" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-total-value" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-total-value" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawTotalValueCharts() {
    drawTotalValueEvolutionChart();
    drawTotalValuePieChart();
}

function drawTotalValueEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.operations > 0 %}{{ data.value|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-total-value");
}

function drawTotalValuePieChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("string", "{% trans 'Seller' %}");
    dt.addColumn("number", "{% trans 'Value' %}");

    {% for row in sellers %}
    dt.addRow(["{{ row.name|escapejs }}", {{ row.value|safe }}]);{% endfor %}
    drawPieChart(dt, "sellers-daily-aggregate-total-value");
}
</script>

<h2>{% trans "Average Value Per Sale" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-average-value" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-average-value" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawAverageValueCharts() {
    drawAverageValueEvolutionChart();
    drawAverageValuePieChart();
}

function drawAverageValueEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.sales > 0 %}{{ data.value|safe }}/{{ data.sales|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-average-value");
}

function drawAverageValuePieChart() {
    var dt = new google.visualization.DataTable();

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}
    dt.addRow([{% for row in sellers %}{% if not forloop.first %}, {% endif %}{% if row.sales > 0 %}{{ row.value|safe }}/{{ row.sales|safe }}{% else %}undefined{% endif %}{% endfor %}]);

    drawAggregateChart(dt, "sellers-daily-aggregate-average-value");
}
</script>

<h2>{% trans "Average Value Per Sale + Non-Sale" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-average-total-value" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-average-total-value" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawAverageOperationsValueCharts() {
    drawAverageOperationsValueEvolutionChart();
    drawAverageOperationsValuePieChart();
}

function drawAverageOperationsValueEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.operations > 0 %}{{ data.value|safe }}/{{ data.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-average-total-value");
}

function drawAverageOperationsValuePieChart() {
    var dt = new google.visualization.DataTable();

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}
    dt.addRow([{% for row in sellers %}{% if not forloop.first %}, {% endif %}{% if row.operations > 0 %}{{ row.value|safe }}/{{ row.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);

    drawAggregateChart(dt, "sellers-daily-aggregate-average-total-value");
}
</script>



<h2>{% trans "Number of Sales" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-number-sales" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-number-sales" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawNumberOfSalesCharts() {
    drawNumberOfSalesEvolutionChart();
    drawNumberOfSalesPieChart();
}

function drawNumberOfSalesEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.operations > 0 %}{{ data.sales|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-number-sales");
}

function drawNumberOfSalesPieChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("string", "{% trans 'Seller' %}");
    dt.addColumn("number", "{% trans 'Sales' %}");

    {% for row in sellers %}
    dt.addRow(["{{ row.name|escapejs }}", {{ row.sales|safe }}]);{% endfor %}
    drawPieChart(dt, "sellers-daily-aggregate-number-sales");
}
</script>

<h2>{% trans "Products per Sale" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-products-sale" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-products-sale" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawProductsPerSaleCharts() {
    drawProductsPerSaleEvolutionChart();
    drawProductsPerSalePieChart();
}

function drawProductsPerSaleEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.sales > 0 %}{{ data.products|safe }}/{{ data.sales|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-products-sale");
}

function drawProductsPerSalePieChart() {
    var dt = new google.visualization.DataTable();

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}
    dt.addRow([{% for row in sellers %}{% if not forloop.first %}, {% endif %}{% if row.sales > 0 %}{{ row.products|safe }}/{{ row.sales|safe }}{% else %}undefined{% endif %}{% endfor %}]);

    drawAggregateChart(dt, "sellers-daily-aggregate-products-sale");
}
</script>

<h2>{% trans "Products per Sale + Non-Sale" %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-products-sale-nonsale" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-products-sale-nonsale" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawProductsPerSaleNonSaleCharts() {
    drawProductsPerSaleNonSaleEvolutionChart();
    drawProductsPerSaleNonSalePieChart();
}

function drawProductsPerSaleNonSaleEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.operations > 0 %}{{ data.products|safe }}/{{ data.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-products-sale-nonsale");
}

function drawProductsPerSaleNonSalePieChart() {
    var dt = new google.visualization.DataTable();

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}
    dt.addRow([{% for row in sellers %}{% if not forloop.first %}, {% endif %}{% if row.operations > 0 %}{{ row.products|safe }}/{{ row.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);

    drawAggregateChart(dt, "sellers-daily-aggregate-products-sale-nonsale");
}
</script>

<h2>{% trans 'Sale <abbr title="Sales / (Non-Sales + Sales)">Ratio</abbr>' %}</h2>
<div class="chart-group">
<div id="sellers-daily-evolution-ratio-sale" class="chart-timeline"></div>
<div id="sellers-daily-aggregate-ratio-sale" class="chart-pie"></div>
</div>
<script type="text/javascript">
function drawRatioSaleCharts() {
    drawRatioSaleEvolutionChart();
    drawRatioSalePieChart();
}

function drawRatioSaleEvolutionChart() {
    var dt = new google.visualization.DataTable();
    dt.addColumn("date", "{% trans 'Date' %}");

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}

    {% for d, s in days %}
    dt.addRow([new Date({{ d.0 }}, {{ d.1 }} - 1, {{ d.2 }}){% for data in s %}, {% if data.operations > 0 %}100 * {{ data.sales|safe }}/{{ data.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);{% endfor %}

    drawEvolutionChart(dt, "sellers-daily-evolution-ratio-sale");
}

function drawRatioSalePieChart() {
    var dt = new google.visualization.DataTable();

    {% for row in sellers %}
    dt.addColumn("number", "{{ row.name|escapejs }}");{% endfor %}
    dt.addRow([{% for row in sellers %}{% if not forloop.first %}, {% endif %}{% if row.operations > 0 %}100 * {{ row.sales|safe }}/{{ row.operations|safe }}{% else %}undefined{% endif %}{% endfor %}]);

    drawAggregateChart(dt, "sellers-daily-aggregate-ratio-sale");

}
</script>

</div>
{% endif %}

{% endblock %}
