{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" language="javascript" src="/static/script.js"></script>
{% endblock %}
{% block title %}{% trans "Sales Reports" %}{% endblock %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a> /{{ block.super }}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% trans "Reports" %}</a> &rsaquo; {% trans "Sales" %}
</div>{% endblock %}

{% block content %}

<h1>{% trans "Sales Reports" %}</h1>

<ul>
  <li><a href="sellers/">{% trans "Sellers" %}</a></li>
  <li><a href="total/">{% trans "Total" %}</a></li>
</ul>

{% endblock %}
