{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% load cashflow_extras %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
{% endblock %}
{% block extrahead %}{{ block.super }}<script type="text/javascript" language="javascript" src="/static/script.js"></script>{% endblock %}
{% block title %}Cash Flow Reports{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% trans "Reports" %}</a> &rsaquo;
{% trans "Cash Flow" %}
</div>{% endblock %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a> /{{ block.super }}
{% endif %}
{% endblock %}
{% block content %}
<h1>Cash Flow Report</h1>

<div id="cashflow-form">
<form method="POST">
  {% csrf_token %}

  <fieldset>
    <legend>Balances</legend>
    <select name="balances" multiple="multiple">
    {% for o in balance_filters %}
      <option value="{{o.0}}" {{o.2}}>{{o.1}}</option>
    {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Cost Centers</legend>
    <select name="cost_centers" multiple="multiple">
    {% for o in cost_center_filters %}
      <option value="{{o.0}}" {{o.2}}>{{o.1}}</option>
    {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Payments</legend>
    <select name="payments" multiple="multiple">
    {% for o in payment_filters %}
      <option value="{{o.0}}" {{o.2}}>{{o.1}}</option>
    {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Tags</legend>
    <select name="tags" multiple="multiple">
    {% for o in tag_filters %}
      <option value="{{o.0}}" {{o.2}}>{{o.1}}</option>
    {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Extra Filters</legend>

    <input type="checkbox" name="show_suppliers" id="_suppliers" value="1" {{suppliers_filter}} />
    <label for="_suppliers">Show supplier payments</label><br />

    <input type="checkbox" name="show_revenues" id="_revenues" value="1" {{revenues_filter}} />
    <label for="_revenues">Show sales revenues</label><br />

    <input type="checkbox" name="show_estimateds" id="_estimateds" value="1" {{estimateds_filter}} />
    <label for="_estimateds">Show estimated values</label><br />

    <input type="checkbox" name="show_details" id="_details" value="1" {{details_filter}} />
    <label for="_details">Show detailed descriptions</label><br />

    <label for="_start_date">From</label>
    <input type="date" name="start_date" id="_start_date" value="{{start_date_filter}}" />
    <label for="_end_date">To</label>
    <input type="date" name="end_date" id="_end_date" value="{{end_date_filter}}" /><br />

  </fieldset>

  <input id="btn-update" type="submit" value="Update" />
</form>
</div>

<div id="cashflow-parameters">
  Cash flow created at {% now "D j F Y H:i" %} based on the following parameters:
  <ul>
    <li>{% if balance_filters|length < 1 %}No balance{% else %}{% if balance_filters|length == balance_enabled_count %}All balances{% else %}Balance:
      {% for o in balance_filters %}{% if o.2 %}{{o.1}}{% endif %}{% endfor %}
      {% endif %}{% endif %}</li>
    <li>{% if cost_center_filters|length < 1 %}No cost_center{% else %}{% if cost_center_filters|length == cost_center_enabled_count %}All cost_centers{% else %}Cost_Centers:
      <ul>{% for o in cost_center_filters %}{% if o.2 %}<li>{{o.1}}</li>{% endif %}{% endfor %}
      </ul>{% endif %}{% endif %}</li>
    <li>{% if payment_filters|length < 1 %}No payment{% else %}{% if payment_filters|length == payment_enabled_count %}All payments{% else %}Payment:
      {% for o in payment_filters %}{% if o.2 %}{{o.1}}{% endif %}{% endfor %}{% endif %}{% endif %}</li>
    <li>{% if tag_filters|length < 1 %}No tag{% else %}{% if tag_filters|length == tag_enabled_count %}All tags{% else %}Tags:
      <ul>{% for o in tag_filters %}{% if o.2 %}<li>{{o.1}}</li>{% endif %}{% endfor %}
      </ul>{% endif %}{% endif %}</li>
    <li>{% if suppliers_filter %}Accounting supplier payments{% else %}Not accounting supplier payments {% endif %}</li>
    <li>{% if revenues_filter %}Accounting sales revenue{% else %}Not accounting sales revenue {% endif %}</li>
    <li>{{ duration }} days since {{ start_date_filter }} to {{ end_date_filter }}</li>
  </ul>
</div>

<div id="cashflow-calendars">
{% for month in calendar %}
  <div class="calendar-month">
    <table class="calendar-month-body" cellspacing="0">
      <caption>{{ month.name }}</caption>
      <tbody>
      {% for week in month.weeks %}
        <tr>
          <th class="calendar-week">W{{ week.id.1 }}</th>
          {% for day in week.days %}
          {% if day.sibling_month %}<td class="calendar-day sibling-month {% if day.id.weekday > 4 %}weekend{% endif %}">{{ day.id.day }}</td>{% else %}
          <script type="text/javascript" language="javascript">
          function tooltip_{{ day.id|date:'Y_n_j' }}() {
            var message = '<div id="calendar-day-tooltip">';
            message += '<div class="title">{{ day.id|date:"l, j-F-Y" }}</div>';

            message += '<div class="accounting">';
            {% if show_estimateds %}
            {% if day.difference_estimate != day.difference_value %}
            {% if day.difference_estimate %}
            message += "Estimated accounting <strong>{{ day.difference_estimate|currency }}</strong>. ";
            {% endif %}
            {% endif %}
            {% endif %}

            {% if day.difference_value %}
            {% if show_estimateds and day.difference_estimate and day.difference_estimate != day.difference_value %}
            message += "Known";
            {% else %}
            message += "Accounting";
            {% endif %}
            message += " <strong>{{ day.difference_value|currency }}</strong>.";
            {% else %}
            {% if show_estimateds and not day.difference_estimate %}
            message += "Known accounting is unchanged.";
            {% endif %}
            {% endif %}
            message += '</div>';

            message += '<div class="consolidated">';
            {% if show_estimateds and day.estimate != day.value %}
            message += "Estimated balance <strong>{{ day.estimate|currency }}</strong>. Known <strong>{{ day.value|currency }}</strong>";
            {% else %}
            message += "Balance <strong>{{ day.value|currency }}</strong>.";
            {% endif %}
            message += '</div>';

            message += '</div>';
            tooltip.show(message);
          }
          </script>
          <td class="calendar-day {% if day.id.weekday > 4 %}weekend{% endif %} {% if day.operations %}operations{% endif %} {%if day.id == today %}today{% endif %} {%if day.value >= 0 %}positive{% else %}negative{% endif %}" onmouseover="tooltip_{{ day.id|date:'Y_n_j' }}();" onmouseout="tooltip.hide();">
          {% if not day.operations %}{{ day.id.day }}{% else %}<a href="#report-day-{{ day.id|date:'Y-n-j' }}">{{ day.id.day }}</a>{% endif %}
          </td>
          {% endif %}
          {% endfor %}</tr>
    {% endfor %}</tbody>
    </table>
  </div>
{% endfor %}
</div>

<table id="cashflow" cellspacing="0">
  <thead>
    <tr>
      {% if show_estimateds %}
      <th class="value-aggregator" colspan="2">Operation</th>
      <th class="value-aggregator" colspan="2">Total</th>
      {% else %}
      <th class="value-aggregator">Operation</th>
      <th class="value-aggregator">Total</th>
      {% endif %}
      <th colspan="2"></th>
    </tr>
    <tr>
      <th class="value">Value</th>
      {% if show_estimateds %}<th class="value estimated">Estimated</th>{% endif %}
      <th class="value">Value</th>
      {% if show_estimateds %}<th class="value estimated">Estimated</th>{% endif %}
      <th class="cashflow-description">Description</th>
      <th class="action"></th>
    </tr>
  </thead>
  <tbody>
  {% for month in flow_report %}
    <tr class="month">
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      <td class="value total"><span class="{% if month.total_value >= 0 %}positive{% else %}negative{% endif %}">{{ month.total_value|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated total"><span class="{% if month.total_estimate >= 0 %}positive{% else %}negative{% endif %}">{{ month.total_estimate|currency }}</span></td>{% endif %}
      <td class="cashflow-description" colspan="2"><a name="report-month-{{ month.id.0 }}-{{ month.id.1 }}"></a>{{ month.name }}</td>
    </tr>
    {% for week in month.weeks %}
    <tr class="week">
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      <td class="value total"><span class="{% if week.total_value >= 0 %}positive{% else %}negative{% endif %}">{{ week.total_value|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated total"><span class="{% if week.total_estimate >= 0 %}positive{% else %}negative{% endif %}">{{ week.total_estimate|currency }}</span></td>{% endif %}
      <td class="cashflow-description" colspan="2"><a name="report-week-{{ week.id.0 }}-{{ week.id.1 }}"></a>Week {{ week.id.1 }}</td>
    </tr>
      {% for day in week.days %}
    <tr class="day">
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      <td class="value total"><span class="{% if day.total_value >= 0 %}positive{% else %}negative{% endif %}">{{ day.total_value|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated total"><span class="{% if day.total_estimate >= 0 %}positive{% else %}negative{% endif %}">{{ day.total_estimate|currency }}</span></td>{% endif %}
      <td class="cashflow-description" colspan="2"><a name="report-day-{{ day.id|date:'Y-n-j' }}"></a>{{ day.id|date:'l, j' }}</td>
    </tr>
        {% for op in day.operations %}
    <tr class="operation {% cycle 'odd' 'even' %}">
      {% if op.value != 0.0 %}
      <td class="value"><span class="{% if op.value >= 0 %}positive{% else %}negative{% endif %}">{{ op.value|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      {% else %}
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"><span class="{% if op.estimate >= 0 %}positive{% else %}negative{% endif %}">{{ op.estimate|currency }}</span></td>{% endif %}
      {% endif %}
      <td class="value total"><span class="{% if op.total_value >= 0 %}positive{% else %}negative{% endif %}">{{ op.total_value|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated total"><span class="{% if op.total_estimate >= 0 %}positive{% else %}negative{% endif %}">{{ op.total_estimate|currency }}</span></td>{% endif %}
      <td class="cashflow-description">{{ op.description|safe }}</td>
      <td class="action"><a href="{{ op.url }}" target="_blank">view</a></td>
    </tr>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  </tbody>
  <tfoot>
    <tr class="final">
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      <td class="value final"><span class="{% if final.0 >= 0 %}positive{% else %}negative{% endif %}">{{ final.0|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated final"><span class="{% if final.1 >= 0 %}positive{% else %}negative{% endif %}">{{ final.1|currency }}</span></td>{% endif %}
      <td class="cashflow-description" colspan="2">Final balance</td>
    </tr>
    <tr class="difference">
      <td class="value"></td>
      {% if show_estimateds %}<td class="value estimated"></td>{% endif %}
      <td class="value difference"><span class="{% if difference.0 >= 0 %}positive{% else %}negative{% endif %}">{{ difference.0|currency }}</span></td>
      {% if show_estimateds %}<td class="value estimated difference"><span class="{% if difference.1 >= 0 %}positive{% else %}negative{% endif %}">{{ difference.1|currency }}</span></td>{% endif %}
      <td class="cashflow-description" colspan="2">Difference</td>
    </tr>
  </tfoot>
</table>

{% endblock %}
