/* tooltip */
#tooltip {
    position: absolute;
    display: block;
    background: #666;
    color:#FFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

#tooltip-top {
    display: block;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

#tooltip-content {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
}

#tooltip-bottom {
    display: block;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

/* cashflow */
div#cashflow-form {
    vertical-align: middle;
}

div#cashflow-form fieldset {
    display: inline-block;
    border: none;
    vertical-align: top;
}

div#cashflow-form select {
    border: 1px outset #999988;
    min-width: 200px;
    height: 150px;
    font-size: 9pt;
    padding: 0;
    margin: 0;
}

div#cashflow-form input#btn-update {
    padding: 10px;
}

div#cashflow-parameters {
    clear: both;
    font-size: 7pt;
    background-color: #f7f7f0;
    color: #444444;
    border: 1px outset #999988;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#cashflow-parameters ul {
    margin-top: 0;
    padding-left: 20pt;
}

/* cashflow calendar */
div#cashflow-calendars {
    font-size: smaller;
    vertical-align: top;
    text-align: center;
    margin-bottom: 30px;
}

div#cashflow-calendars div.calendar-month {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#cashflow-calendars td.sibling-month {
    color: #aaaaaa;
}

div#cashflow-calendars td.weekend {
    background-color: #eeeeee;
}

div#cashflow-calendars td.today {
    background-color: #ffffcc;
}

div#cashflow-calendars th.calendar-week {
    color: #666666;
    font-size: smaller;
    border-right: 1px solid #eeeeee;
}

div#cashflow-calendars td.operations a {
    text-decoration: underline;
}

div#cashflow-calendars td.positive, div#cashflow-calendars td.positive a {
    color: #0000d9;
}

div#cashflow-calendars td.negative, div#cashflow-calendars td.negative a {
    color: #d90000;
}

div#calendar-day-tooltip div.title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

div#calendar-day-tooltip div.estimate {
    margin-top: 5px;
}

/* cashflow table with results */
table#cashflow {
    width: 100%;
    border: 1px solid #dddddd;
}

table#cashflow td.value-aggregator {
    text-align: center;
}

table#cashflow td.value {
    text-align: right;
    width: 70pt;
}

table#cashflow tr.month td.value,
table#cashflow tr.week td.value,
table#cashflow tr.day td.value,
table#cashflow tr.operation td.value,
table#cashflow tr.final td.value,
table#cashflow tr.difference td.value {
    font-family: monospace;
    font-weight: normal;
}

table#cashflow thead tr {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 1px solid black;
    font: bold 12pt Sans-serif;
}

table#cashflow tbody tr.month {
    background: #e1e1e1 url(/static/admin/img/admin/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-position: bottom left !important;
    font-weight: bold;
    font-size: larger;
}

table#cashflow tbody tr.week {
    background-color: #ffffcc;
    font-weight: bold;
}

table#cashflow tbody tr.day {
    background-color: #edf3fe;
}

table#cashflow tbody tr.operation {
    background-color: #ffffff;
}

table#cashflow tfoot tr.final,
table#cashflow tfoot tr.difference {
    background-color: #f6f6f6;
    color: #333333;
    font-weight: bold;
}

table#cashflow tbody tr:last-child td {
    border-bottom: 1px solid #dddddd;
}

table#cashflow tfoot tr.final td,
table#cashflow tfoot tr.difference td {
    background-position: bottom left !important;
    padding: 5px;
}

table#cashflow tr.week td.cashflow-description {
    padding-left: 15px;
}

table#cashflow tr.day td.cashflow-description {
    padding-left: 30px;
}

table#cashflow tr.operation td.cashflow-description {
    padding-left: 45px;
}

table#cashflow span.positive {
    color: #0000d9;
}

table#cashflow span.negative {
    color: #d90000;
}

/* balance */
div.balance span.date {
    font: 8pt monospace;
    float: left;
    padding-right: 5px;
    vertical-align: baseline;
    color: #666666;
}

div.balance div.taglist {
    font-size: 7pt;
}

div.balance ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.balance ul li {
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* payment */
div.payment span.date {
    font: 8pt monospace;
    float: left;
    margin-right: 5px;
    vertical-align: baseline;
    color: #666666;
}

div.payment span.cost_center {
    font: 8pt monospace;
    float: left;
    margin-right: 5px;
    vertical-align: baseline;
}

div.payment div.taglist {
    font-size: 7pt;
}

div.payment div.paid {
    font-style: oblique;
}

div.payment ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.payment ul li {
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* revenue */
div.revenue span.date {
    font: 8pt monospace;
    float: left;
    margin-right: 5px;
    vertical-align: baseline;
    color: #666666;
}

div.revenue div.sale {
    font-size: 7pt;
}

