{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" language="javascript" src="/static/script.js"></script>
{% endblock %}
{% block title %}Reports{% endblock %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a> /{{ block.super }}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">{% trans "Reports" %}
</div>{% endblock %}

{% block content %}

<h1>Reports</h1>

<ul>
  <li><a href="sales/">Sales</a>
    <ul>
      <li>
        <a href="sales/sellers/">Sellers</a>
        <ul>
          <li><a href="sales/sellers/daily/">Daily</a></li>
          <li><a href="sales/sellers/weekly/">Weekly</a></li>
          <li><a href="sales/sellers/monthly/">Monthly</a></li>
        </ul>
      </li>
      <li>
        <a href="sales/total/">Total</a>
        <ul>
          <li><a href="sales/total/daily/">Daily</a></li>
          <li><a href="sales/total/weekly/">Weekly</a></li>
          <li><a href="sales/total/monthly/">Monthly</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="cashflow/">Cash Flow</a></li>
</ul>

{% endblock %}
